<!-- Inicio de la barra de navegacón para la sección de información de contacto -->
<nav class="info_contacto">
    <!-- Contenedor principal que agrupa los elementos de contacto -->
    <div class="contenido_contacto">
        <!-- Menú desplegable para selecionar un país -->
        <label for="pais">Colombia</label>
        <select class="selector" name="pais" id="pais">
            <option value="">Colombia</option>
            <option value="">Canada</option>
            <option value="">Francia</option>
        </select>
        <!-- Botones o enlace hacia el portal de cliente, número de contacto  -->
        <div class="boton_clientes">Portal Clientes</div>
        <div class="boton_contacto">Contacto +57 300786****</div>
    </div>
</nav>
<!-- Fin del contenedor principal -->

<!-- Inicio de contenedor informacion  -->
<section class="info_navbar">
    <!-- Contenedor para el registro de información -->
    <div class="info_navbar_funcionalidades">
        <!-- logo, y botones de información. -->
        <img class="img_logo" src="../../assets/img-home-page/colombia.png" alt="" />
        <div class="btn_inicio">Inicio</div>
        <div class="planes">Planes y precios</div>
        <div class="producto">Productos</div>
        <div class="software">Por que Software</div>
    </div>
    <!-- Botones de para acceder a recursos y inicio de sessión -->
    <div class="inf_sesion">
        <div class="one">recursos</div>
        <div>iniciar sesion</div>
    </div>

</section>
<!-- Fin de contenedor  de recursos-->

<section class="ifo_precios">

    <h1>Optimiza tus finanzas con soluciones que se ajustan a tu presupuesto y metas empresariales.</h1>
    <h3>Planes flexibles, precios justos y resultados reales.</h3>

    <div class="contenedor_de_opciones">
        <button>Facturación Electrónica</button>
        <button>Sistema POS + Facturación</button>
        <button>Nomina Electrónica</button>
        <button>Software Administrativo</button>
        <button>Software Contable</button>
    </div>

</section>

<section class="contenedor_opciones">

    <div class="paso_a_paso">
    </div>

    <section class="facturacion" id="contendor_de_seleccion">
        <h1>Factura electrónica</h1>
        <h2>Olvídate de lo complejo: factura fácil, seguro y con apoyo cuando lo necesites y es ilimitado</h2>

        @if (buttonHideBuys()) {
        <div class="contenedor_opciones_compra">

            <span class="gratis">
                <h3>Facturación electrónica</h3>
                <h4>GRATIS</h4>
                <button>Empiza a usarlo</button>
            </span>

            <span class="mas_popular">
                <h3>Facturación electrónica <br> 24</h3>
                <h4>$ 9.075 / mes*</h4>
                <h4> $ 108.900 / año</h4>
                <button (click)="showForm()">¡Compralo ahora!</button>
            </span>

            <span class="whatsApp"></span>
        </div>
        }
    </section>

    @if (buttonHideForm()) {
    <section class="contendor_creando_cuenta">

        <div class="contenedor_formulario_registro">

            <div class="contenedro_regreso">
                <button class="boton_regresar" (click)="hideForm()"><img class="flecha"
                        src="assets/img-register-page/flecha-izquierda.png" alt="">Regresar</button>
            </div>

            <div class="contenedor_info_cuenta">
                <h2>Creando tu cuenta</h2>
                <p class="info_parrafo">Da el primer paso hacia el crecimiento de tu negocio: ingresa tus datos y
                    explora todo lo que tiene para ti.</p>
            </div>


            <!-- Formulario que nos va a permitir crear el cliente (persona o empresa que va a generar las facturas) -->


            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="formulario_registro">

                <div class="contenedor_info_compra">
                    <!-- Tenemos los distintos tipos de documento que el cliente tiene que seleccionar -->

                    <div class="contenedor_tipoDocuemnto">
                        <label for="tipoDocumento">Tipo Documento</label>
                        <select formControlName="tipoDocumento" id="tipoDocumento">
                            <option value="" disabled selected>Selecciona…</option>
                            <option value="CC">Cédula de ciudadanía</option>
                            <option value="NIT">NIT</option>
                            <option value="PAS">Pasaporte</option>
                            <option value="CE">Cédula Extranjería</option>
                            <option value="RUT">RUT</option>
                        </select>
                        <div *ngIf="f['tipoDocumento'].touched && f['tipoDocumento'].invalid" class="error">
                            Selecciona un tipo de documento
                        </div>
                    </div>

                    <!-- Nombre -->
                    <div>
                        <div class="estilo_input">
                            <input class="input_nombre" type="text" formControlName="nombre"
                                [ngClass]="{'input-error': f['nombre'].invalid && f['nombre'].touched}"
                                placeholder="Nombre">
                            <label class="input_label">Nombre</label>
                        </div>
                        <div *ngIf="f['nombre'].touched && f['nombre'].invalid" class="error">
                            El nombre es obligatorio
                        </div>
                    </div>

                    <!-- Celular -->
                    <div>
                        <input class="input_celular" type="text" formControlName="celular"
                            [ngClass]="{'input-error': f['celular'].invalid && f['celular'].touched}"
                            placeholder="Celular">
                        <div *ngIf="f['celular'].touched && f['celular'].invalid" class="error">
                            El celular es obligatorio
                        </div>
                    </div>

                    <!-- Numero de Documento  -->
                    <div>
                        <input type="text" formControlName="numeroDocumento"
                            [ngClass]="{'input-error':f['numeroDocumento'].invalid && f['numeroDocumento'].touched}"
                            placeholder="Numero de Docuemnto">
                        <div *ngIf="f['numeroDocumento'].touched && f['numeroDocumento'].invalid" class="error">
                            El numero de documento es obligatorio
                        </div>
                    </div>

                    <!-- Email -->
                    <div>
                        <input type="email" formControlName="email"
                            [ngClass]="{'input-error': f['email'].invalid && f['email'].touched}"
                            placeholder="Correo electrónico">
                        <div *ngIf="f['email'].touched && f['email'].hasError('required')" class="error">
                            El correo es obligatorio
                        </div>
                        <div *ngIf="f['email'].touched && f['email'].hasError('email')" class="error">
                            El correo no es válido
                        </div>
                    </div>

                    <!-- Confirmación Email -->
                    <div>
                        <input type="email" formControlName="confirmacionEmail"
                            [ngClass]="{'input-error':f['confirmacionEmail'].invalid && f['confirmacionEmail'].touched}"
                            placeholder="Confirmar correo electrónico">
                        <div *ngIf="f['confirmacionEmail'].touched && f['confirmacionEmail'].hasError('required')"
                            class="error">
                            Debes confirmar el correo
                        </div>
                        <div *ngIf="f['confirmacionEmail'].touched && f['confirmacionEmail'].hasError('email')"
                            class="error">
                            El correo no es válido
                        </div>
                        <div *ngIf="f['confirmacionEmail'].touched && f['confirmacionEmail'].hasError('emailMismatch')"
                            class="error">
                            Los correos no coinciden
                        </div>
                    </div>

                    <!-- Password -->
                    <div>
                        <input type="password" formControlName="passwordIngreso"
                            [ngClass]="{'input-error': f['passwordIngreso']. invalid && f['passwordIngreso'].touched}"
                            placeholder="Contraseña">
                        <div *ngIf="f['passwordIngreso'].touched && f['passwordIngreso'].hasError('required')"
                            class="error">
                            La contraseña es obligatoria
                        </div>
                        <div *ngIf="f['passwordIngreso'].touched && f['passwordIngreso'].hasError('minlength')"
                            class="error">
                            La contraseña debe tener mínimo 6 caracteres
                        </div>
                    </div>

                    <!-- Confirmación Password -->
                    <div>
                        <input type="password" formControlName="confirmacionPassword"
                            [ngClass]="{'input-error': f['confirmacionPassword'].invalid && f['confirmacionPassword'].touched}"
                            placeholder="Confirmar contraseña">
                        <div *ngIf="f['confirmacionPassword'].touched && f['confirmacionPassword'].hasError('required')"
                            class="error">
                            Debes confirmar la contraseña
                        </div>
                        <div *ngIf="f['confirmacionPassword'].hasError('passwordMismatch')" class="error">
                            Las contraseñas no coinciden
                        </div>
                    </div>

                </div>
                <button type="submit">Registrarse</button>
            </form>

        </div>

        <div class="info_resumen">

            <h2>Resumen de compra</h2>

            <span>Facturación electrónica</span>

        </div>

    </section>
    }

</section>