<div class="contenedor_panel">

        <!-- Encerramos los componente de nuestro sidebar, el cual tiene opciones de redireccionamiento y manejo del logo -->
        <section class="opcion_de_navegacion">
            <!-- Ingresamos los botones los cuales son creamos desde cero -->
            <div class="contenido_contacto">

                <div class="subir_logo_cliente">
                    <img src="assets/img-panel-page/Subir logo.png" alt="">
                    <span>Sube tu logo</span>
                </div>

                <div class="contentor_botones_sidebar">

                    <!-- <div class="boton_inicio">
                        <img class="img_botones_sidebar" src="../img/Panel de gestio/Inicio.png" alt="">
                        <span>Inicio</span>
                    </div> -->

                    <div class="boton_habilitacion">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img transacciones.png" alt="">
                        <span>Habilitación Electrónica</span>
                    </div>

                    <div class="boton_transacciones">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img habilitacion.png" alt="">
                        <select class="selector" aria-label="selector" name="" id="">
                            <option value="">Transacciones</option>
                            <option value="">Canada</option>
                            <option value="">Francia</option>
                        </select>
                    </div>

                    <div class="boton_nomia">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img_nomina.png" alt="">
                        <span>Nomína Electrónica</span>
                    </div>

                    <div class="boton_reportes">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img_reportes.png" alt="">
                        <span>Reportes</span>
                    </div>

                    <div class="boton_contabilidad">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img contabilidad.png" alt="">
                        <span>Contabilidad</span>
                    </div>

                </div>

            </div>
            <!-- Fin contenedor de botones -->
        </section>
        <!-- Fin contenedor de componentes sidebar -->

        <!-- Contenedor de Header -->
        <section class="info_clilente_empresa">
            <h2 class="nombre_usuario">Nombre de la empresa</h2>
            <h3>Configuració</h3>
        </section>
        <!-- Contenedor para la creacion de los diferentes documentos   -->
        <section class="bienvenida">


            <!-- Contenedor de los conponentes para poder crear los documentos principales.   -->
            <div class="contenedor_opciones">

                <div class="encabezado_factura">
                    <h2>Nueva factura</h2>

                    <div class="opciones_de_factura">

                        <div class="seleccion_de_factura">
                            <label for="">Tipo ?</label>
                            <select class="selector" aria-label="selector" name="" id="">
                                <option value="">Facturación electrónica</option>
                                <option value="">Facturación POOS</option>
                            </select>
                        </div>

                        <div class="buscar_cliente">
                            <label for="">Clilente</label>
                            <input type="text" placeholder="Buscar">
                        </div>

                        <div class="seleccion_fecha">
                            <label for="">Fecha de elaboración</label>
                            <input type="date" placeholder="Seleccion">
                        </div>

                    </div>
                </div>
                <div class="botones_configuracion">

                    <div class="contendor_botones">
                        <button>Configuración AUI</button>
                        <button>Cancelar</button>
                        <button>Guarda y enviar por email</button>
                    </div>

                    <div>
                        <label for="">Vendedor</label>
                        <input type="text" placeholder="Buscar">
                    </div>

                </div>


            </div>

            <div class="creando_factura">
                <table>
                    <tr class="encabezado_table">
                        <th>#</th>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Valor unitario</th>
                        <th>Valor total</th>
                        <th>Agregar</th>
                    </tr>
                    <tr class="encabezado_table">
                        <td><span>1</span></td>

                        <td class="contenedor_crearProducto">

                            <div class="opcion_crear">
                                <input id="buscar_producto" type="text" placeholder="Buscar producto">
                                <select class="selector_producto" aria-label="selector" id="">
                                    <option value="">Crear producto</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <p id="descripcion_product">descripción</p>
                        </td>
                        <td><input id="cantidad_producto" type="number" placeholder="cantidad"></td>
                        <td><input id="valor_uni" type="text" placeholder="Valor unitario" readonly></td>
                        <td><output id="total_producto">0</output></td>
                        <td class="boton_add_item"><button class="boton_add_item">+</button></td>
                    </tr>
                </table>


                <div class="contenedor_form_crear_producto">
                    <h2>Nuevo producto</h2>
                    <div class="input_seleccion">
                        <span>Producto <input type="checkbox" placeholder="#"></span>
                        <span>Servicio <input type="checkbox" placeholder="#"></span>

                        <form class="formulario form_crear_producto" id="form_producto" action="">

                            <div class="contenedor_datos">

                                <h3>Datos básicos</h3>

                                <div class="datos_producto">
                                    <div>
                                        <label for="codigo_producto">Código</label>
                                        <input type="text" id="codigo_producto">
                                    </div>
                                    <div>
                                        <label for="nombre_producto">Nombre del Producto</label>
                                        <input type="text" id="nombre_producto">
                                    </div>
                                    <div>
                                        <label for="descripcion_producto">Descripción del producto</label>
                                        <input type="text" id="descripcion_producto">
                                    </div>
                                    <div>   
                                        <label for="valor_unitario">Valor unitario</label>
                                        <input type="text" id="valor_unitario">
                                    </div>
                                    <div>
                                        <label for="unidad">Unidad de medida factura electrónica</label>
                                        <select class="selector" aria-label="selector" name="" id="">
                                            <option value="">Unidad</option>
                                            <option value="">Otra unidad</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="contenedor_tributaria">

                                <div class="info_tributaria">

                                    <h3>Información tributaria</h3>

                                    <div>
                                        <label for="incluido">Es incluido</label>
                                        <input type="checkbox" id="incluido">
                                    </div>

                                    <div>

                                        <label for="">Clasificación tributaria</label>
                                        <select class="selector" aria-label="selector" name="" id="">
                                            <option value="">Unidad</option>
                                            <option value="">Otra unidad</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="lista_precios">

                                </div>
                                <div class="datos_adicionales">

                                </div>
                            </div>
                            <button type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
