<!-- Contenedor raíz de la vista: organiza y centraliza todos los componentes visibles de este panel -->
    <div class="contenedor_panel">
        <!-- Encerramos los componente de nuestro sidebar, el cual tiene opciones de redireccionamiento y manejo del logo -->
        <section class="opcion_de_navegacion">
            <!-- Ingresamos los botones los cuales son creamos desde cero -->
            <div class="contenido_contacto">

                <div class="subir_logo_cliente">
                    <img src="assets/img-panel-page/Subir logo.png" alt="">
                    <span>Sube tu logo</span>
                </div>

                <div class="contentor_botones_sidebar">

                    <!-- <dvi class="boton_inicio">
                        <img class="img_botones_sidebar" src="../img/Panel de gestio/Inicio.png" alt="">
                        <span>Inicio</span>
                    </dvi> -->

                    <div class="boton_habilitacion">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img transacciones.png" alt="">
                        <span>Habilitación Electrónica</span>
                    </div>

                    <div class="boton_transacciones">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img habilitacion.png" alt="">
                        <select class="selector" aria-label="selector_" name="" id="pendiente_cambio">
                            <option value="">Transacciones</option>
                            <option value="">Canada</option>
                            <option value="">Francia</option>
                        </select>
                    </div>

                    <div class="boton_nomia">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img_nomina.png" alt="">
                        <span>Nomína Electrónica</span>
                    </div>

                    <div class="boton_reportes">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img_reportes.png" alt="">
                        <span>Reportes</span>
                    </div>

                    <div class="boton_contabilidad">
                        <img class="img_botones_sidebar" src="assets/img-panel-page/Img contabilidad.png" alt="">
                        <span>Contabilidad</span>
                    </div>

                </div>

            </div>
            <!-- Fin contenedor de botones -->
        </section>
        <!-- Fin contenedor de componentes sidebar -->

        <!-- Contenedor de Header -->
        <section class="info_clilente_empresa" *ngIf="empresa">
            <h2 class="nombre_usuario">{{ empresa.nombre }}</h2>
            <h3>Configuració</h3>
        </section>
        <!-- Contenedor para la creacion de los diferentes documentos   -->
        <section class="bienvenida">

            <!-- <div class="bienvenida"> -->
                <h2>Te damos la bienvenida, ¿Qué deseas hacer?</h2>
                <!-- Contenedor de los conponentes para poder crear los documentos principales.   -->
                <div class="contenedor_opciones">

                    <div class="boton_crear" id="link_vista_registro" (click)="goFactura($event, 'Factura')">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="">
                        <span>Crear una factura</span>
                    </div>
                    <div class="boton_crear">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="">
                        <span>Registra eventos en factura electrónica de proveedores</span>
                    </div>
                    <div class=" boton_crear">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="">
                        <span>Crea un Cocumento soporte</span>
                    </div>
                    <div class=" boton_crear">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="" >
                        <span>Registra una Compra o Gasto</span>
                    </div>
                    <div class=" boton_crear">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="" />
                        <span>Crea un Comprobate Cantable</span>
                    </div>
                    <div class=" boton_crear">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="">
                        Crea un Recibo de Caja
                    </div>
                    <div class=" boton_crear">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="">
                        <span>Crea un Recibo de Pago</span>
                    </div>
                    <div class=" boton_crear">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="">
                        <span>Crea un Tercero</span>
                    </div>
                    <div class=" boton_crear">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="">
                        <span>Crea un Producto o Servicio</span>
                    </div>
                    <div class=" boton_crear">
                        <img class="img_crear" src="assets/img-panel-page/Img crear.png" alt="">
                        <span>POS Web</span>
                    </div>

                </div>
            <!-- </div> -->

        </section>

    </div>
