<p>home-page works!</p>
<!-- Inicio de la barra de navegacón para la sección de información de contacto -->
<nav class="info_contacto">
    <!-- Contenedor principal que agrupa los elementos de contacto -->
    <div class="contenido_contacto">
        <!-- Menú desplegable para selecionar un país -->
        <label for="pais">Colombia</label>
        <select class="selector" name="pais" id="pais">
            <option value="">Colombia</option>
            <option value="">Canada</option>
            <option value="">Francia</option>
        </select>
        <!-- Botones o enlace hacia el portal de cliente, número de contacto  -->
        <div class="boton_clientes">Portal Clientes</div>
        <div class="boton_contacto">Contacto +57 300786****</div>

    </div>

</nav>
<!-- Fin del contenedor principal -->

<!-- Inicio de Seccion contenedor de recursos -->
<section class="info_navbar">
    <!-- logo, y botones de información. -->
    <div class="info_navbar_funcionalidades">
        <img class="img_logo" src="assets/img-home-page/colombia.png" alt="">
        <div class="btn_inicio">Inicio</div>
        <div class="btn_planes">Planes y precios</div>
        <div class="btn_producto">Productos </div>
        <div class="btn_software">Por que Software</div>
    </div>
    <!-- Botones de para acceder a recursos y inicio de sessión -->
    <div class="inf_sesion">
        <div class="btn_recursos">Recursos</div>
        <div class="dropdown" (mouseenter)="displayMenu()" (mouseleave)="closeMenu()">
            <button  class="btn_inicio">Iniciar sesión</button>

            @if (menuDesplegado){
            <ul class="dropdown_menu" id="menu_dropdown">
                <li (click)="goLogin('Contador')" id="opc_contador">Contador</li>
                <li (click)="goLogin('Facturación')" id="opc_fact_electronica">Facturación</li>
                <li (click)="goLogin('Facturación POS')" id="opc_fact_pos">Facturación POS</li>
                <li (click)="goLogin('Tienda')" id="opc_tienda">Tienda</li>
            </ul>
            }
        </div>
    </div>

</section>
<!-- Fin de contenedor  de recursos-->

<!-- Inicio de contenedor informacion  -->
<section class="img_fondo_asesoria">
    <!-- Contenedor para el registro de información -->
    <div class="formulario_asesoria">

        <h2>Para una asesoría gratuita, <br> ¡déjanos tus datos!</h2>
        <!-- Formulario de solicitud de Información -->
        <form class="formulario" action="">
            <input type="text" placeholder="Nombres y Apellido " required>
            <input type="text" placeholder="Correo electrónico">
            <label for="selector">¿Quién eres?</label>
            <select name="selector" id="selector">
                <option value="">¿Quién eres?</option>
                <option value="">Soy Empresario</option>
                <option value="">Soy Contador</option>
                <option value="">Ya tengo Productos</option>
                <option value="">Soy Estudiante</option>
            </select>
        </form>
        <!-- Fin de formularion -->
    </div>

</section>
<!-- Fin contenedor de informacion -->